<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Firebase / Networking -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mentora_app_logo"
        android:label="Mentora"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEG2105_Project_1_Tutor_Registration_Form">

        <!-- 1) Launcher: Splash first -->
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2) Main login / role picker -->
        <activity
            android:name=".auth.MainActivity"
            android:exported="false"/>

        <!-- 3) Registration screens -->
        <activity
            android:name=".auth.TutorRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".auth.StudentRegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".auth.AdminRegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 4) Post-auth student/tutor landing -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"/>

        <!-- Admin area -->
        <activity
            android:name=".ui.admin.AdminHomeActivity"
            android:exported="false"
            android:label="@string/admin_home_title"/>
        <activity
            android:name=".ui.admin.AdminInboxActivity"
            android:exported="false"
            android:label="@string/inbox"/>
        <activity
            android:name=".ui.admin.RequestDetailActivity"
            android:exported="false"/>

        <!-- Tutor area home (tabs) -->
        <activity
            android:name=".ui.tutor.TutorHomeActivity"
            android:exported="false"
            android:label="@string/tutor_home_title"/>

        <!-- Rejected notice for students/tutors -->
        <activity
            android:name=".auth.RejectedScreen"
            android:exported="false"/>
        <!-- AndroidManifest.xml -->

        <activity android:name=".ui.tutor.CreateSlotActivity" />

        <activity
            android:name=".ui.tutor.SessionDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.StudentHomeActivity"
            android:exported="false"
            android:label="@string/student_home_title" />
    </application>
</manifest>
